{% extends "base.html" %}

{% block content %}
<form action="">
    <div class="row">
        <p>탐지 민감도 설정</p>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sensitivity" id="high" checked>
        <label class="form-check-label" for="high">
          High
        </label>
      </div>
      <div class="form-check my-3">
        <input class="form-check-input" type="radio" name="sensitivity" id="middle">
        <label class="form-check-label" for="middle">
          Middle
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sensitivity" id="row">
        <label class="form-check-label" for="low">
          Low
        </label>
      </div>
      <div class="row my-3">
          <p>Realtime monitoring</p>
          <div class="col-sm-1"></div>
          <div class="col-sm-8">
            <canvas id="Chart" width="600" height="300"></canvas>
          </div>
          <div class="col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <a href="" class="btn btn-outline-primary mx-1">Start</a>
          <a href="" class="btn btn-outline-secondary mx-1">Pause</a>
          <a href="" class="btn btn-outline-danger mx-1">Stop</a>
        </div>
      </div>
</form>
{% endblock %}